* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.42px;
}

body {
    background-color: #f5f7fa;
    font-family: Montserrat, sans-serif;
}

body main {
    margin: 20px;
    background-color: #fff;
    display: flex;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

main ul {
    list-style: none;
}

main ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1rem;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h4 {
    font-size: 16px;
    margin-top: 25px;
}

h3 {
    font-size: 22px;
    margin: 50px 0 20px 0;
}

h2 {
    font-size: 14px;
    margin-bottom: 25px;
}

h1 {
    font-size: 45px;
    margin-bottom: 25px;
    line-height: 45px;
}

body b {
    color: #000 !important;
}

/*===================================_SIDEBAR_==========================================*/

aside {
    background-color: #1e2939;
    width: 370px;
    color: #fff;
}

aside img {
    width: 100%;
    object-fit: contain;
    margin: 40px 0 0 0;
}

aside>div {
    margin: 55px 40px;
}

aside .contacts a {
    font-weight: 400;
    color: #454e5a;
    margin: 0 0 0 10px;
}

aside .contacts label {
    font-weight: 700;
    cursor: pointer;
}

aside li {
    color: #d8dadd;
}

aside ul li::before {
    color: #ff6b08;
}

aside .contacts div {
    margin: 5px 0;
}

/*===================================_SIDEBAR_END_======================================*/

/*===================================_ABOUT_ME_=========================================*/

.aboutMe {
    margin: 110px 90px;
    color: #000;
}

.aboutMe ul li::before {
    color: #000;
}

.aboutMe .orangeColor {
    color: #ff7518;
}

.aboutMe .timePlace {
    color: #bebebe;
}

.aboutMe .aboutHeader {
    max-width: 440px;
}

.aboutMe .projects h3 {
    margin-bottom: 9px;
}

.aboutMe .projects {
    margin-top: 65px;
}

.aboutMe ol {
    list-style: none;
    counter-reset: customCounter;
}

.aboutMe ol li {
    counter-increment: customCounter;
}

.aboutMe ol li * , .aboutMe a{
    color: #979797;
}

.aboutMe ol li::before {
    content: counter(customCounter) ".";
    font-weight: 700;
    display: inline-block;
    width: 1rem;
    margin-right: 9px;
}

.aboutMe .workExp {
    margin-top: 50px;
}

.aboutMe .timePlace {
    margin-bottom: 10px;
}

/*===================================_ABOUT_ME_END_======================================*/